
/* general ---------- */

body{
	background-color:#fff;
	padding-top:20px;
}

/* structure --------- */
@media only screen and (min-width:992px){
.block {
	/*border:1px solid red;*/
	min-height:45vh;
	max-height:50vh;
}
.container{
	min-width:80%;
}

}
.bottom{
	margin-top:15px !important;
}
iframe{
	max-width:100%;
	/*height:auto;*/
}

@media only screen and (max-width:767px){
	header{
		padding-top:0;
	}
}


article{
	max-height:100vh;
}


/* typography ---------- */ 
h1{
	margin-bottom:20px;
}

.tube {
	color:#d9534f;
}

section{
	font-family: Arial;
}